/* Form */
.radio-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .radio-input input {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    border-radius: 5px;
    transition: .4s ease-in-out;
  }
  
  .radio-input input:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
  }
  
  .radio-input .plus1 {
    position: relative;
    top: 0.01em;
    left: -1.60em;
    width: 1.3em;
    height: 0.2em;
    background-color: rgb(255, 8, 255);
    rotate: 45deg;
    scale: 0;
    border-radius: 5px;
    transition: .4s ease-in-out;
  }
  
  .radio-input .plus2 {
    position: relative;
    width: 1.3em;
    height: 0.2em;
    background-color: rgb(255, 8, 255)  ;
    transform: rotate(90deg);
    border-radius: 5px;
    transition: .4s ease-in-out;
  }
  
  .radio-input input:checked {
    box-shadow: none;
  }
  
  .radio-input input:checked + .plus1 {
    transform: rotate(180deg);
    scale: 1;
  }

  /* Spinner */
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #h3 {
    color: black;
  }
  
  #ring {
    width: 110px;
    height: 110px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
  }
  
  #ring:nth-child(1) {
    border-bottom: 8px solid rgb(255, 141, 249);
    animation: rotate1 2s linear infinite;
  }
  
  @keyframes rotate1 {
    from {
      transform: rotateX(50deg) rotateZ(110deg);
    }
  
    to {
      transform: rotateX(50deg) rotateZ(470deg);
    }
  }
  
  #ring:nth-child(2) {
    border-bottom: 8px solid rgb(255,65,106);
    animation: rotate2 2s linear infinite;
  }
  
  @keyframes rotate2 {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
  
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
  }
  
  #ring:nth-child(3) {
    border-bottom: 8px solid rgb(0,255,255);
    animation: rotate3 2s linear infinite;
  }
  
  @keyframes rotate3 {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
  
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
  }
  
  #ring:nth-child(4) {
    border-bottom: 8px solid rgb(252, 183, 55);
    animation: rotate4 2s linear infinite;
  }
  
  @keyframes rotate4 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
  
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
  }